.main-page-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.main-content {
  flex: 3;
  margin-right: 20px;
}

.sidebar-right {
  flex: 1;
}