#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.title{
  display: flex;
  justify-content: space-between;
}

.mainpage{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
}

.mainpage .section{
  display: inline-block;
  text-align: left;
}

#bar{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin-bottom: 10px;
  text-align: left;
  border-radius: 5px;
  height: 2em;
  background-color: whitesmoke;
}

#btn1{
  background-color: orange;
  box-shadow: 2px 2px 3px grey;
  margin: 15px;
  border-radius: 4px;
  cursor: pointer;
}

#btn2{
  background-color: pink;
  box-shadow: 2px 2px 3px grey;
  margin: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.btn > #btn1:hover{
  background-color: red;
}

.btn > #btn2:hover{
  background-color: violet;
}